<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta description: Optimized for SEO -->
    <meta name="description"
        content="Get real-time status updates for B A C Discord Bot, your trusted music bot for Discord servers. Track performance, uptime, and features to ensure a seamless, uninterrupted music experience for your community.">


    <title>B A C - Status</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">

    <!-- Open Graph Meta Tags for Social Media Sharing -->
    <meta property="og:title" content="B A C - Discord Bot Status">
    <meta property="og:description"
        content="Stay informed about the status of B A C Discord Bot. Real-time updates on performance, uptime, and features for a seamless music experience.">
    <meta property="og:image" content="https://officialbac.xyz/img/logo.png">
    <meta property="og:url" content="https://officialbac.xyz/status">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="B A C - Discord Bot Status">
    <meta name="twitter:description"
        content="Real-time updates on the status and performance of the B A C Discord Bot.">
    <meta name="twitter:image" content="https://officialbac.xyz/img/logo.png">
    <meta name="twitter:site" content="@BACGAMINGYT">

    <!-- SEO Keywords -->
    <meta name="keywords" content="Discord Bot, Music Bot, Server Status, Real-time Updates, B A C Bot">

    <!-- Author Tag for Content Attribution -->
    <meta name="author" content="Pushkar (B A C GAMING)">

    <!-- Canonical Link to Prevent Duplicate Content -->
    <link rel="canonical" href="https://officialbac.xyz/status">

    <!-- Preload Resources for Faster Load Times -->
    <link rel="preload" href="font.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/img/logo.png" as="image">

    <!-- Favicon Links -->
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo.png">
    <link rel="apple-touch-icon" href="/img/logo.png">

    <!-- Theme Color for Mobile Browsers -->
    <meta name="theme-color" content="goldenrod">

    
    <!-- GOOGLE ANALYTICS -->


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZ4F3D9H8V"></script> 

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SZ4F3D9H8V');
    </script>
</head>
