<head>
  <link rel="stylesheet" href="css/header.css" />
</head>

<header>
  <div class="logo">B A C</div>
  <div class="links">
    <div class="aContainer">
        <a href="/musicDash" class="aLinks">Music Dash for B A C GAMING</a>
    </div>
    <div class="aContainer">
        <a href="/" class="aLinks">Bot Status</a>
    </div>
    <div class="aContainer">
        <a href="/dashboard" class="aLinks">Dashboard</a>
    </div>
  </div>
</header>
